body {
    background-image: url('https://www.nba.com/lakers/sites/lakers/files/i6_8.jpg');
    background-size: auto 100vh;
    font-family: Arial;
    height: 100vh;
  }
  
  .menu {
    background-color: yellow;
    
  }
  
  .menu ul {
    display: flex;
    justify-content: space-around
  }
  
  .menu li {
    list-style: none;
  }
  
  a {
    text-decoration: none;
  }
  
  a:hover{
    text-decoration: underline;
  }
  
  .site-subtitle,
  .site-title{
    color: yellow;
    text-align: center;
  }
  
  .site-subtitle{
    font-style: italic
  }